export AUTO_FORMATTING_AVAILABLE="1"
export CTAGS_AVAILABLE="1"
export DENO_AVAILABLE="1"
export GIT_LOCAL_TEMPLATE_HOOKS_AVAILABLE="1"
export RIPGREP_EXTRA_OPTIONS="--glob !.config/tmux/plugins/"
export TABNINE_AVAILABLE="1"
export TYPEPROF_AVAILABLE="0"
