[user]
name  = kg8m
email = takumi.kagiyama@gmail.com

; https://github.com/sasata299/dotfiles/blob/master/.gitconfig
[color]
branch = auto
diff = auto
status = auto

[color "branch"]
current = white red
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = cyan bold
new = magenta bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[color]
ui = true

[core]
whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
editor = vim

[branch]
autosetupmerge = true

[alias]
aa    = !git add . && git add -u && git status
alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort -k3
find  = !git ls-files | grep -i
ad = add
br = branch
co = checkout
ch = checkout HEAD
cm = commit --ammend
ci = commit -v
ca = commit -va
di = diff -b -U10
dw = diff -b -U10 --color-words
da = diff -U10
dh = diff -U10 HEAD
dc = diff -U10 --cached
lg = log --graph --pretty=format:\"%Cgreen%h %ci %Cblue%cn %Creset%s\"
lo = log --stat
lp = log -p --stat
pl = pull
pr = pull --rebase
re = reset --soft HEAD^
rv = revert
rm = rm --cached -f
st = status
su = submodule update -i

[github]
user = kg8m

[push]
default = simple
