[submodule ".zsh/cd-bookmark"]
	path = .zsh/cd-bookmark
	url = git://github.com/mollifier/cd-bookmark
[submodule ".filter/anyframe"]
	path = .filter/anyframe
	url = git@github.com:mollifier/anyframe
[submodule ".zsh/enhancd"]
	path = .zsh/enhancd
	url = git@github.com:b4b4r07/enhancd
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule ".rbenv/plugins/rbenv-update"]
	path = .rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update
[submodule ".rbenv/plugins/rbenv-default-gems"]
	path = .rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule ".rbenv/plugins/rbenv-each"]
	path = .rbenv/plugins/rbenv-each
	url = https://github.com/rbenv/rbenv-each.git
[submodule ".rbenv/plugins/ruby-build"]
	path = .rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule ".rubocop/plugins/rubocop-daemon"]
	path = .rubocop/plugins/rubocop-daemon
	url = https://github.com/fohte/rubocop-daemon.git
[submodule ".goenv"]
	path = .goenv
	url = https://github.com/syndbg/goenv.git
[submodule ".zsh/git-prompt.zsh"]
	path = .zsh/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
