# http://qiita.com/vzvu3k6k/items/12aff810ea93c7c6f307
eval_gemfile "Gemfile"

gem "bundler-audit"
gem "awesome_print"
gem "hirb", require: false
gem "hirb-unicode-steakknife", require: false

group :development do
  gem "byebug", require: false
  gem "pry-byebug", require: false
  gem "pry-doc", require: false

  gem "rubocop", require: false
  gem "rubocop-performance", require: false
  gem "rubocop-rails", require: false
  gem "rubocop-daemon", require: false
end

group :development, :production do
  gem "benchmark-ips", require: false
end

group :test do
  gem "minitest-reporters"
end
